:root {
  --lavender: #d3e4ff;
  --dutch-white: #fff1c9;
  --pale-dogwood: #fedac9;
  --amber: #ffbe0b;
  --orange: #fb5607;
  --rose: #ff006e;
  --blue-violet: #8338ec;
  --azure: #3a86ff;
}

* {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.2rem; /* 1.2x16px */
}

body {
  background-color: var(--lavender);
}

h1 {
  margin: 22px 5px;
  padding: 8px 10px;
}

header {
  background-color: var(--blue-violet);
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus
{
  background-color: var(--rose);
}

input[type="submit"]:hover
{
  background-color: var(--azure);
  width:50%;
  transition-duration: 2s;
  border-radius: 20px;
}

/* Anidado */
nav > ul > li {
  list-style-type: none;
  display: inline;
  padding-right: 8px;
}

nav > ul > li > a {
  color: var(--dutch-white);
  text-decoration: none;
}

/* Clase */
.content {
  background-color: var(--pale-dogwood);
  margin: 22px 5px;
  padding: 8px 10px;
}

.content > h2 {
  margin: 8px auto;
}

/* ID */
#title {
  border: 1px dotted black;
}

#main_figure {
  text-align: center;
}
#main_picture {
  width: 35%;
  opacity: 0.8;
}

figure > figcaption {
  font-size: x-small;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--azure);
}

td:hover {
  background-color: var(--dutch-white);
}
